######################
# CONFIG
######################

SESSION_ID = 'XXXXXXXX_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
PROXIES = {
#   'https': 'socks5://localhost:8888'
}
BIND_ADDRESS='127.0.0.1'
SERVER='waitress'

######################
